<div class="about w-full text-16">
  <div class="flex my-10">
    <img src="img/about/img-01.png" class="mr-10 h-224 w-200" />
    <div>
      <h3 class="my-5 text-black-two text-xl font-bold">Sean Kim (Founder/CEO)</h3>
      <ul class="ml-5 list-disc text-warm-grey-two">
        <li>8 years of experience in IT sector</li>
        <li>Founder of Osiris WEB 3.0 browser</li>
        <li>
          Developed Faucet software for cyber café, created cloud Faucet management app, and holds related patents
        </li>
        <li>Operates multiple news/media networks</li>
      </ul>
    </div>
  </div>
  <div class="flex my-10">
    <img src="img/about/img-02.png" class="mr-10 h-224 w-200" />
    <div>
      <h3 class="my-5 text-black-two text-xl font-bold">Angella Kim (Co-Founder/Vice CEO)</h3>
      <ul class="ml-5 list-disc text-warm-grey-two">
        <li>4 years of experience in blockchain related business</li>
        <li>
          Promoted and accelerated blockchain related international projects with globally recognized companies
          (participating in numerous blockchain related projects such as exchanges, games, IP, Faucet as partners)
        </li>
        <li>
          Published and aired as an Asian female leader in the blockchain industry by numerous foreign media
          outlets such as Global Magazine (First Korean woman on the cover of The Face), Vietnamese national
          broadcasting and TV news, and Chinese news. Single Korean female representative invited to 2019 Forbes
          Vietnam Business Forum amongst the top 50 Vietnamese companies invited.
        </li>
        <li>Advisor of Korea Blockchain Contents Association (KBCCA)</li>
        <li>Advisor of Korea Mobile Game Association (KMGA)</li>
      </ul>
    </div>
  </div>
  <div class="flex my-10">
    <img src="img/about/img-03.png" class="mr-10 h-224 w-200" />
    <div>
      <h3 class="my-5 text-black-two text-xl font-bold">Shin Daisuke (CTO)</h3>
      <ul class="ml-5 list-disc text-warm-grey-two">
        <li>
          More than 16 years of product development experience, including in areas of telecommunication as his
          main concentration
        </li>
        <li>
          Participated and supervised 180 development projects including AT&T, Motorola, Intel, Coca-Cola and
          more
        </li>
        <li>
          Holds data center (TOGAF) digital architecture certification, blockchain developer certification, TELCO
          technical advisor certification, etc.
        </li>
      </ul>
    </div>
  </div>
</div>