<!-- <div class="row">
  <div class="col-md-12 portlet light">
      <div class="portlet-body">

        <table class="col-md-6 table table-hover">
          <tr ><td width="25%">height</td><td><a class="btn btn-info" ng-show="block.number > 0 && blockNum == block.number" href="/block/{{block.number - 1}}">&lt;Prev</a> {{block.number | number}} <a class="btn btn-info" ng-show="blockNum == block.number" href="/block/{{block.number + 1}}">Next&gt;</a></td></tr>
          <tr ><td width="25%">Time</td>
                <td>{{block.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }} ({{block.timestamp | timeDuration}} ago)</td>
          </tr>
          <tr ><td width="25%">Hash</td><td>{{block.hash}}</td></tr>
          <tr ><td width="25%">parentHash</td><td><a href="/block/{{block.number - 1}}">{{block.parentHash}}</td></tr>
          <tr ><td width="25%">sha3 Uncles</td><td>{{block.sha3Uncles}}</td></tr>
          <tr ><td width="25%">Mined By</td><td><a href="/addr/{{block.miner}}">{{block.miner}}</td></tr>
          <tr ><td width="25%">Difficulty</td><td>{{block.difficulty | totalDifficulty}}</td></tr>
          <tr ><td width="25%">Total Difficulty</td><td>{{block.totalDifficulty | teraHashes | number}} TH</td></tr>
          <tr ><td width="25%">Gas Limit</td><td>{{block.gasLimit | number}}</td></tr>
          <tr ><td width="25%">Gas Used</td><td>{{block.gasUsed | number}}</td></tr>
          <tr ><td width="25%">nonce</td><td>{{block.nonce}}</td></tr>
          <tr ><td width="25%">Extra Data</td><td>{{block.extraData}}</td></tr>
          <tr ng-show="block.uncles.length > 0"><td width="25%">Uncles</td><td>{{block.uncles.length}} uncles
            <table class="table table-condensed" ng-show="block.uncles.length > 0">
              <tbody>
                <tr ng-repeat="u in block.uncles">
                  <td> <a href="/uncle/{{block.number}}/{{$index}}">{{u}}</a> </td>
                </tr>
              </tbody>
            </table>
          </td></tr>
        </table>
    </div>

  </div>
  <div class="portlet light portlet-datatable col-md-12">
     <div class="portlet-body">
    <table class="table table-condensed">
        <thead ng-show="block.transactions.length > 0">
            <tr>
                <th> Transactions </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in block.transactions">
                <td> <a href="/tx/{{t}}">{{t}}</a> </td>
            </tr>
        </tbody>
    </table>
      </div>
    </div>
</div> -->

<table class="blockdetails table-fixed w-full my-5">
  <tbody>
    <tr>
      <td class="bg-table">height</td>
      <td class="text-warm-grey-two">
        <a class="btn btn-sm btn-duck-egg mr-2" href="/block/{{ block.number - 1 }}"
          ng-show="block.number > 0 && blockNum == block.number">
          &lt; Prev
        </a>
        {{ block.number | number }}
        <a class="btn btn-sm btn-duck-egg ml-2" href="/block/{{ block.number + 1 }}" ng-show="blockNum == block.number">
          Next &gt;
        </a>
      </td>
    </tr>
    <tr>
      <td class="bg-table">Time</td>
      <td class="text-warm-grey-two">
        {{ block.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }} ({{ block.timestamp | timeDuration }} ago)
      </td>
    </tr>
    <tr>
      <td class="bg-table">Hash</td>
      <td class="text-warm-grey-two">
        {{ block.hash }}
      </td>
    </tr>
    <tr>
      <td class="bg-table">parentHash</td>
      <td>
        <a href="/block/{{ block.number - 1 }}">
          {{ block.parentHash }}
        </a>
      </td>
    </tr>
    <tr>
      <td class="bg-table">sha3 Uncles</td>
      <td class="text-warm-grey-two">
        {{ block.sha3Uncles }}
      </td>
    </tr>
    <tr>
      <td class="bg-table">Mined By</td>
      <td>
        <a href="/addr/{{ block.miner }}">
          {{ block.miner }}
        </a>
      </td>
    </tr>
    <tr>
      <td class="bg-table">Difficulty</td>
      <td class="text-warm-grey-two">{{ block.difficulty | totalDifficulty }}</td>
    </tr>
    <tr>
      <td class="bg-table">Total Difficulty</td>
      <td class="text-warm-grey-two">{{ block.totalDifficulty | teraHashes | number }} TH</td>
    </tr>
    <tr>
      <td class="bg-table">Gas Limit</td>
      <td class="text-warm-grey-two">{{ block.gasLimit | number }}</td>
    </tr>
    <tr>
      <td class="bg-table">Gas Used</td>
      <td class="text-warm-grey-two">{{ block.gasUsed | number }}</td>
    </tr>
    <tr>
      <td class="bg-table">nonce</td>
      <td class="text-warm-grey-two">{{ block.nonce }}</td>
    </tr>
    <tr>
      <td class="bg-table">Extra Data</td>
      <td class="text-warm-grey-two">&#9488;&#9496;{{ block.extraData.substr(2) }}</td>
    </tr>
  </tbody>
</table>